<html>
    <head>
        <title>欢迎来到张老师的办公室</title>
    </head>
    <body>
        <h1>这里目前提供学习资料的下载，后续会陆续上线作业，答疑，考试等相关部分</h1><hr>
        上课的同学，请先签到<br>
        <form name="form1" action="sign_in">
            <table>
                <tr><td>学号</td><td><input name="sno"></td></tr>
                <tr><td>姓名</td><td><input name="name"></td></tr>
                <tr><td><input type="submit" value="签到"></td></tr>
            </table>
        </form>
        <hr>
        <a href="download?file=InletexEMCFree.exe">下载屏幕广播软件</a><br>
        <a href="download?file=pp-1.pptx">下载课程指导</a><br>
        
    </body>
</html>