<html>
    <head>
        <title>欢迎来到张老师的办公室</title>
    </head>
    <body>
        <h1>这里目前提供学习资料的下载，后续会陆续上线作业，答疑，考试等相关部分</h1><hr>
        上课的同学，请先签到<br>
        <form name="form1" action="sign_in">
            <table>
                <tr><td>学号</td><td><input name="sno"></td></tr>
                <tr><td>姓名</td><td><input name="name"></td></tr>
                <tr><td><input type="submit" value="签到"></td></tr>
            </table>
        </form>
        <hr>
        <a href="download?file=InletexEMCFree.exe">下载屏幕广播软件</a><br>
        <a href="download?file=jdk-8u111-windows-x64.exe">JDK8 64bit</a><br>
        <a href="download?file=jdk-8u181-windows-i586.exe">JDK8 32bit</a><br>
        <a href="download?file=SQLEXPRADV_x64_CHS.exe">SQL Server2008 64bit</a><br>
        <a href="download?file=VSCodeUserSetup-x64-1.33.1.exe">Visual Studio Code 64bit</a><br>
        <a href="download?file=VSCodeUserSetup-ia32-1.33.1.exe">Visual Studio Code 32bit</a><br>
        <a href="download?file=apache-maven-3.6.1-bin.zip">Maven</a><br>
        <a href="download?file=chat.zip">课堂案例</a><br>
    </body>
</html>